@import 'base';

body {
  background: var(--background-base);
}

section.home-page {
  max-width: 1250px;
  margin: 0 auto;

  header {
    padding: 15px 0 20px 0;
  
    div.logo {
      width: 60px;
      height: 60px;

      border-radius: 50px;
  
      background: var(--color-shape);
    }
  }

  div.container-home {
    width: 100%;

    background: gray;

    div.group-buttons {
      width: max-content;
      height: 500px;
      padding-top: 100px;
  
      // background: var(--color-shape);
      border: 1px solid var(--color-white);
  
      display: flex;
      align-items: center;
      gap: 20px;
  
      div.client-user {
        width: 300px;
        height: 400px;
  
        background: var(--color-shape-hover);
      }
  
      div.prof-user {
        width: 300px;
        height: 400px;
        background: var(--color-shape-hover);
      }
    }
  }
}