<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lista Flestyle </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link href="../css/styles/agents.css" rel="stylesheet">
    <link href="../css/responsive/agents.responsive.css" rel="stylesheet">
  </head>
  <body>
    
    <section class="landing-agents">
      <aside>
      <div class="logo">
        <img src="../assets/images/logo1.png" alt="Logo">
      </div>  
        <button id="btnBackAgent" type="button"><img src="../assets/images/arrow.svg" alt="Voltar para Home"></button>
      </aside>

      <div class="section-agents">
        <div class="title-agents">
          <div class="content-title">
            <h1>Estes são os <br /> profissionais disponíveis.</h1>

            <div class="cont-agents">
              <img src="../assets/images/emote.svg" alt="Emote Rostinho Feliz.">

              <p>Temos atualmente <span id="agentsCont">1</span> <br /> 
                Profissionais</p>

            </div>
          </div>

        </div>

        <div id="displayAgent" class="container-agents">
          

        </div>
      </div>
    </section>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/agents.js"></script>
  </body>
</html>