<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lista Flestyle </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link href="/public/css/agents.css" rel="stylesheet">
  </head>
  <body>
    
    <section class="landing-agents">
      <aside>
      <div class="logo">
        <img src="/public/assets/images/logo1.png" alt="Logo">
      </div>  
        <button id="btnBackAgent" type="button"><img src="/public/assets/images/arrow.svg" alt="Voltar para Home"></button>
      </aside>

      <div class="section-agents">
        <div class="title-agents">
          <div class="content-title">
            <h1>Estes são os <br /> profissionais disponíveis.</h1>

            <div class="cont-agents">
              <img src="/public/assets/images/emote.svg" alt="Emote Rostinho Feliz.">

              <p>Temos atualmente <span>78</span> <br /> 
                Profissionais</p>

            </div>
          </div>

        </div>

        <div id="displayAgent" class="container-agents">
          
          <div class="agent">
            <div class="profile">
              <img src="https://github.com/leandrosiq1.png" alt="Foto de perfil">

              <div class="name-ocupation">
                <h1>Leandro Henrique</h1>

                <p>Barbeiro</p>
              </div>

            </div>

            <div class="bio">
              <p>
                Entusiasta das melhores tecnologias de química avançada.Apaixonado por explodir coisas em laboratório e por mudar a vida das pessoas através de experiências. Mais de 200.000 pessoas já passaram por uma das minhas explosões.
              </p>
            </div>

            <div class="day-hour">
              <div class="content-day-hours notActive">
                <span class="day">
                  Dia <br /> 
                  <h1>Segunda</h1>
                </span>

                <span class="hours"> 
                  Horário <br /> 
                  <h1><span></span> - <span></span></h1>
                </span>

              </div>

              <div class="content-day-hours ">
                <span class="day">
                  Dia <br /> 
                  <h1>Terça</h1>
                </span>

                <span class="hours"> 
                  Horário <br /> 
                  <h1><span>8h</span> - <span>18h</span></h1>
                </span>
              </div>

              <div class="content-day-hours ">
                <span class="day">
                  Dia <br /> 
                  <h1>Quarta</h1>
                </span>

                <span class="hours"> 
                  Horário <br /> 
                  <h1><span>8h</span> - <span>18h</span></h1>
                </span>
              </div>

              <div class="content-day-hours notActive">
                <span class="day">
                  Dia <br /> 
                  <h1>Quinta</h1>
                </span>

                <span class="hours"> 
                  Horário <br /> 
                  <h1><span></span> - <span></span></h1>
                </span>
              </div>

              <div class="content-day-hours ">
                <span class="day">
                  Dia <br /> 
                  <h1>Sexta</h1>
                </span>

                <span class="hours"> 
                  Horário <br /> 
                  <h1><span>8h</span> - <span>18h</span></h1>
                </span>
              </div>
            </div>

            <div class="footer">
              <div class="price">
                <h1>Preços</h1>

                <div class="values">
                  <p>Minimo - <span>R$25,00</span></p>
                  <p>Maximo - <span>R$70,00</span></p>
                </div>

              </div>

              <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5519999669175&text=Tenho interesse em seu serviço de Cabeleireiro Leandro Siqueira" class="button" target="_blank">
                <img src="/public/assets/images/Vector.svg" alt="Whatsapp">Entrar em contato
              </a>

            </div>
          </div>

        </div>
      </div>
    </section>

    <script src="/public/scripts/script.js"></script>
  </body>
</html>