<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Formulário | Flestyle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link href="/public/css/form.css" rel="stylesheet">
    <link href="/public/css/responsive/form.responsive.css" rel="stylesheet">
  </head>
  <body>

    <section id="ladingForm" class="landing-form">
      <aside>
        <div class="logo">
          <img src="/public/assets/images/logo1.png" alt="Logo" />
        </div>
  
        <button id="backFormHome" title="Voltar para home" type="button"><img src="/public/assets/images/arrow.svg" alt="Voltar para home Flestyle"></button>
      </aside>

      <div class="section-form">
        <div class="title-form">
          <div class="content-title">
            <div class="title">
              <h1>Preencha o formulário abaixo, <br /> E venha ser um Flestyle com a gente.</h1>
              <p>O primeiro passo, é preencher esse
                formulário de inscrição.
              </p>
            </div>

            <div class="cont-agents">
              <img src="/public/assets/images/Group 8.svg" alt="Emote Rostinho Feliz.">

              <p>Preparare-se!<br />
                vai ser o máximo.
              </p>

            </div>
          </div>
        </div>

        <div id="teste"></div>

        <div class="box-form">
          <form id="form" action="agents.html" onsubmit="Form.stopSubmit(event)">
            <div class="title">
              <h1>Seus dados</h1>
              <hr />
            </div>

            <div class="one-input">
              <label for="nameUser">Nome completo</label>
              <input id="nameUser" type="text"  />
            </div>

            <div class="two-input">
              <div class="box-input">
                <label for="email">Email</label>
                <input id="email" type="email"  />
              </div>

              <div class="box-input">
                <label for="senha">Senha</label>
                <input id="senha" type="password" />
              </div>
            </div>

            <div class="two-input">
              <div class="box-input">
                <label for="photo">Link da sua foto <small>(comece com https://)</small></label>
                <input id="photo" type="text"  />
              </div>

              <div class="box-input">
                <label for="whats">Whatsapp <small>(Apenas numeros)</small></label>
                <input oninput="Form.validateNumber()" id="whats" type="number" />
              </div>
            </div>

            <div class="one-input">
              <label for="bio">Biografia <small>(Maximo 300 caracteres)</small></label>
              <textarea  id="bio" name="bio" maxlength="320"></textarea>
            </div>

            <div class="title service">
              <h1>Sobre o serviço</h1>
              <hr />
            </div>

            <div class="one-input">
              <label for="select">Serviço</label>
              <select id="select" >
                <option value="" hidden="">Selecione uma opção</option>
                <option>Barbeiro</option>
                <option>Manicure</option>
                <option>Manicure e Cabeleireiro(a)</option>
                <option>Cabeleireiro(a)</option>
              </select>
            </div>

            <div class="one-input">
              <label for="priceMin">Preços <small>(min / max | coloque com virgula)</small></label>
              <input  id="priceMin" type="number" placeholder="R$ minimo" />
              <input  id="priceMax" type="number" placeholder="R$ maximo" />
            </div>

            <div class="weekdays">
              <p>Selecione o dia e marque o horario (Horario que você esteja disponivel nos dias.)</p>

              <div class="container-weekdays">
                <div class="box-check">
                  <ul id="days"> 
                    <li>
                      <input class="segunda" name="segunda" type="checkbox" id="segunda" />
                      <label for="segunda">Segunda</label>
                    </li>

                    <li>
                      <input class="terca" name="terca" type="checkbox" id="terca" />
                      <label for="terca">Terça</label>
                    </li>

                    <li>
                      <input class="quarta" name="quarta" type="checkbox" id="quarta" />
                      <label for="quarta">Quarta</label>
                    </li>

                    <li>
                      <input class="quinta" name="quinta" type="checkbox" id="quinta" />
                      <label for="quinta">Quinta</label>
                    </li>

                    <li>
                      <input class="sexta" name="sexta" type="checkbox" id="sexta" />
                      <label for="sexta">Sexta</label>
                    </li>
                  </ul>
                </div>

                <div class="box-time">

                  <div class="time-container">
                    <div class="time">
                      <label>Até</label>
                      <input  id="timeAte" type="time" />
                    </div>

                    <div class="time">
                      <label>Das</label>
                      <input  id="timeDas" type="time" />
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="footer">
              <div class="info">
                <img src="/public/assets/images/warn.svg" alt="Aviso">
                <p>Importante! <br />
                  Preencha todos os dados</p>
              </div>

              <button id="submitForm" type="submit">Salvar cadastro</button>
            </div>
          </form>
        </div>

      </div>
    </section>

    <div id="modalSucess" class="modal-sucess">
      <div class="container-modal">
        <div class="content-modal">
          <img src="/public/assets/images/sucess.svg" alt="Imagem cadastro finalizado" />
          <h1>Cadastro salvo!</h1>
          <p>
            Tudo certo, seu cadastro está na nossa lista de Flestyles. <br />
            Agora é só ficar de olho no seu WhatsApp.
          </p>

          <div class="box-buttons">
            <button id="btnAcessList" type="button">Acessar lista</button>
            <button id="btnAcessDashboard" type="button">Acessar Dashboard</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/public/scripts/script.js"></script>
  </body>
</html>