<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flestyle | Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
    <link href="/public/css/main.css" rel="stylesheet" />
    <link href="/public/css/responsive/home.responsive.css" rel="stylesheet" />
  </head>
  <body>
    
    <section class="home-page">
      <div class="content-home">
        <div class="home-container">
          <div class="box-content">
            <h1>Flestyle</h1>

            <p>
              Tenha acesso aos maiores profissionais da Área de <br />
              Salões de beleza do Brasil.
            </p>

            <small>
              Sempre Levando o estilo até a sua casa.
            </small>
          </div>

          <img src="/public/assets/images/background-home.svg" alt="Imagem Selecionando Serviço." />
        </div>
      </div>

      <div class="navegation-home">
        <div class="container-navegation">
          <div class="description">
            <p>
              Seja bem-vindo. <br />
              <strong>O que deseja fazer?</strong>
            </p>
          </div>
  
          <div class="buttons">
  
            <div class="box-button">
              <button type="button">Solicitar Serviço</button>
            </div>
  
            <div class="box-button">
              <button type="button">Entrar como Flestyle</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>