* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  --background-white: #f5f5f5;
  --background-input: #E6E6F0;
  --background-base: linear-gradient(0deg, #df2c6f 0%, rgba(179,9,63,1) 39%);
  --color-red: #b3093f;
  --color-green: #04d361;
  --color-green-light: #94f1be;
  --color-vinho: #451531;
  --color-vinho-base: #723c5c;
  --color-blue-light: #a5befa;
  --color-blue: #64b7cc;
  --color-pink: #ff3877;
  --color-pink-icon: #ff6193;
  --color-orange: #f44e3f;
  --color-salmon: #f4796b ;
  --color-salmon-light: #f4998d;
  --color-day: #5a5a68;
  --color-title: #303042;
  --color-text-form: #9C98A6;
}

body {
  background: #fff;
}

section.landing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.landing-form aside {
  width: 100px;
  height: 100vh;
  background: var(--background-base);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

section.landing-form aside div.logo img {
  width: 80px;
}

section.landing-form aside button {
  width: 46px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--color-pink);
  background: var(--color-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section.landing-form aside button:hover {
  opacity: .6;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

section.landing-form div.section-form {
  width: 100%;
  padding-bottom: 100px;
}

section.landing-form div.section-form div.title-form {
  height: 300px;
  background: var(--color-red);
}

section.landing-form div.section-form div.title-form div.content-title {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.landing-form div.section-form div.title-form div.content-title div.title h1 {
  font-size: 30px;
}

section.landing-form div.section-form div.title-form div.content-title div.title p {
  padding-top: 40px;
  font-size: 17px;
  opacity: .7;
}

section.landing-form div.section-form div.title-form div.content-title div.cont-agents {
  max-width: 300px;
  height: 50px;
  border: 1px solid lightgreen;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section.landing-form div.section-form div.title-form div.content-title div.cont-agents p {
  font-size: 14px;
  padding-left: 15px;
}

section.landing-form div.section-form div.title-form div.content-title div.cont-agents:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.landing-form div.section-form div.box-form {
  width: 800px;
  margin: -30px auto;
  padding: 25px;
  background: var(--background-white);
  border: 1px solid lightgray;
  border-radius: 30px;
}

section.landing-form div.section-form div.box-form form {
  width: 100%;
  background: var(--background-white);
}

section.landing-form div.section-form div.box-form form div.title {
  width: 100%;
}

section.landing-form div.section-form div.box-form form div.title h1 {
  font-size: 38px;
  color: var(--color-title);
  padding-bottom: 10px;
}

section.landing-form div.section-form div.box-form form div.title hr {
  border: 1px solid var(--color-day);
  border-color: var(--color-day);
  opacity: .2;
}

section.landing-form div.section-form div.box-form form div.one-input {
  margin-top: 30px;
}

section.landing-form div.section-form div.box-form form label {
  font-size: 18px;
  color: var(--color-text-form);
  display: block;
  padding-bottom: 8px;
}

section.landing-form div.section-form div.box-form form input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--color-text-form);
  background: var(--background-input);
  padding-left: 8px;
  font-size: 19px;
  color: var(--color-red);
}

section.landing-form div.section-form div.box-form form input#priceMax {
  margin-top: 13px;
}

section.landing-form div.section-form div.box-form form textarea {
  width: 100%;
  height: 160px;
  border: 1px solid var(--color-text-form);
  border-radius: 10px;
  background: var(--background-input);
  padding: 10px;
  font-size: 19px;
  color: var(--color-red);
  resize: none;
}

section.landing-form div.section-form div.box-form form small {
  padding-left: 10px;
}

section.landing-form div.section-form div.box-form form select {
  width: 100%;
  height: 45px;
  border: 1px solid var(--color-text-form);
  border-radius: 10px;
  background: var(--background-input);
  padding-left: 8px;
  font-size: 19px;
  color: var(--color-red);
  cursor: pointer;
}

section.landing-form div.section-form div.box-form form div.two-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

section.landing-form div.section-form div.box-form form div.two-input div.box-input {
  width: 100%;
  margin-top: 30px;
}

section.landing-form div.section-form div.box-form form div.title.service {
  margin-top: 30px;
}

section.landing-form div.section-form div.box-form form div.weekdays {
  width: 100%;
  margin-top: 20px;
}

section.landing-form div.section-form div.box-form form div.weekdays p {
  color: var(--color-text-form);
  padding: 10px 0;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-check {
  width: 20%;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-check ul {
  list-style: none;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-check ul li {
  width: 130px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-check ul li input {
  width: initial;
  height: 50px;
  cursor: pointer;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-check ul li label {
  padding-left: 8px;
  color: var(--color-text-form);
  cursor: pointer;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-time {
  width: 80%;
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-time p {
  color: var(--color-red);
}

section.landing-form div.section-form div.box-form form div.weekdays div.container-weekdays div.box-time div.time-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 20px;
  padding-right: 50px;
}

section.landing-form div.section-form div.box-form form div.footer {
  width: 100%;
  height: 100px;
  background: var(--background-input);
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.landing-form div.section-form div.box-form form div.footer div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.landing-form div.section-form div.box-form form div.footer div.info p {
  padding-left: 10px;
  color: var(--color-red);
}

section.landing-form div.section-form div.box-form form div.footer button {
  width: 140px;
  height: 45px;
  background: var(--color-green);
  border: 1px solid var(--color-title);
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-title);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section.landing-form div.section-form div.box-form form div.footer button:hover {
  opacity: .8;
}

div.modal-sucess {
  width: 100%;
  height: 100vh;
  background: var(--background-base);
  padding: 20px;
  display: none;
}

div.modal-sucess div.container-modal {
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/images/background-form.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.modal-sucess div.container-modal div.content-modal {
  max-width: 500px;
  height: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.modal-sucess div.container-modal div.content-modal img {
  padding-bottom: 30px;
}

div.modal-sucess div.container-modal div.content-modal h1 {
  font-size: 40px;
  color: #fff;
  padding-bottom: 20px;
}

div.modal-sucess div.container-modal div.content-modal p {
  font-size: 17px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  padding-bottom: 40px;
}

div.modal-sucess div.container-modal div.content-modal button {
  width: 140px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: var(--color-green);
  border-radius: 5px;
  border: 1px solid var(--color-day);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

div.modal-sucess div.container-modal div.content-modal button:hover {
  opacity: .8;
}
/*# sourceMappingURL=form.css.map */