* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  --background-white: #f5f5f5;
  --background-input: #E6E6F0;
  --background-base: linear-gradient(0deg, #df2c6f 0%, rgba(179,9,63,1) 39%);
  --color-red: #b3093f;
  --color-green: #04d361;
  --color-green-light: #94f1be;
  --color-vinho: #451531;
  --color-vinho-base: #723c5c;
  --color-blue-light: #a5befa;
  --color-blue: #64b7cc;
  --color-pink: #ff3877;
  --color-pink-icon: #ff6193;
  --color-orange: #f44e3f;
  --color-salmon: #f4796b ;
  --color-salmon-light: #f4998d;
  --color-day: #5a5a68;
  --color-title: #303042;
  --color-text-form: #9C98A6;
}

section.home-page {
  width: 100%;
  height: 100vh;
}

section.home-page div.content-home {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  background: var(--background-base);
  border-bottom: 1px solid var(--color-red);
}

section.home-page div.content-home div.home-container {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.home-page div.content-home div.home-container div.box-content h1 {
  font-size: 90px;
  color: #fff;
  padding-bottom: 20px;
}

section.home-page div.content-home div.home-container div.box-content p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}

section.home-page div.content-home div.home-container div.box-content small {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-green);
}

section.home-page div.content-home div.home-container img {
  width: 530px;
}

section.home-page div.navegation-home {
  width: 100%;
  height: 30%;
  background: var(--background-white);
  border: 1px solid lightgray;
}

section.home-page div.navegation-home div.container-navegation {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-red);
}

section.home-page div.navegation-home div.container-navegation div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home-page div.navegation-home div.container-navegation div.buttons button {
  width: 200px;
  height: 60px;
  margin-left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--color-blue);
  background: var(--background-base);
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section.home-page div.navegation-home div.container-navegation div.buttons button:hover {
  opacity: .7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=main.css.map */