@import 'base';

body {
  background: var(--color-red);
}

button#backHomeConta {
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: 140px;
  height: 45px;

  background: var(--color-green);
  border-radius: 5px;
  border: 1px solid var(--color-title);

  transition: .2s;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

section.login {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  padding-bottom: 100px;

  div.container-login {
    width: 600px;
    height: 500px;
    
    background: #fff;
    box-shadow: 0 0 20px #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div.box-img {
      width: 40%;
      height: 100%;

      background-image: url('../../assets/images/background-home.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      background-color: var(--color-red);

    }

    div.box-input {
      width: 60%;
      height: 100%;

      background: var(--background-white);
      padding: 20px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      h1 {
        color: var(--color-title);
        padding-bottom: 10px;
      }

      p {
        color: var(--color-day);
      }

      div.group-inputs {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          display: block;
          font-size: 15px;
          color: var(--color-text-form);
          padding-bottom: 6px;
        }

        input {
          width: 100%;
          height: 35px;

          margin-bottom: 30px;
          padding-left: 10px;

          font-size: 18px;
          color: var(--color-red);

          background: var(--background-input);
          border: 1px solid var(--color-text-form);
          border-radius: 10px;
        }

        button {
          width: 100px;
          height: 35px;

          background: var(--background-base);
          border: 1px solid var(--color-text-form);

          font-size: 16px;
          color: #fff;


          transition: .2s;
          cursor: pointer;

          &:hover {
            opacity: .8;
          }
        }
      }
    }

    a {
      margin: -10px 0 30px 0;
      text-decoration: none;
      color: var(--color-red);

      transition: .2s;

      &:hover {
       transform: scale(1.1);
      }
    }
  }

  div.container-dashboard {
    width: 700px;

    background: #fff;
    box-shadow: 0 0 20px #fff;
    display: none;

    div.title-dashboard {
      width: 100%;
      height: 100px;

      padding: 20px;
      border-bottom: 1px solid lightgray;

      h1 {
        color: var(--color-title);
        padding-bottom: 8px;
      }

      p {
        color: var(--color-text-form);
      }

    }

    div.top-dashboard {
      width: 100%;
      height: 120px;

      padding: 20px;

      background: var(--background-white);

      display: flex;
      align-items: center;
      justify-content: space-between;

      div.img {
        width: 100px;
        height: 100px;

        background: var(--background-input);
        border-radius: 50px;

        background-image: url('https://github.com/leandrosiq1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

      div.input-img {
        width: 80%;
        height: 100%;

        padding: 10px;

        label {
          display: block;
          color: var(--color-text-form);
        }

        input {
          width: 100%;
          height: 45px;

          padding-left: 8px;
          margin-top: 8px;

          background: var(--background-input);
          border-radius: 10px;
          border: 1px solid var(--color-text-form);

          font-size: 16px;
          color: var(--color-red);
        }
      }
    }

    div.group-inputs-dashboard {
      width: 100%;
      padding-top: 20px;

      border-top: 1px solid var(--color-text-form);

      div.two-input {
        width: 100%;
        height: 80px;

        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        
        div.box-input-dashboard {
          width: 100%;

          label {
            color: var(--color-text-form);
          }
          
          input {
            width: 100%;
            height: 45px;

            padding-left: 8px;
            margin-top: 8px;

            font-size: 17px;
            color: var(--color-red);
            
            background: var(--background-input);
            border: 1px solid var(--color-text-form);
            border-radius: 10px;
          }
        }
      }

      div.bio {
        width: 100%;
        padding: 20px;

        label {
          color: var(--color-text-form);
        }

        textarea {
          width: 100%;
          height: 200px;

          padding: 10px;
          margin-top: 8px;

          font-size: 18px;
          color: var(--color-red);

          background: var(--background-input);
          border: 1px solid var(--color-text-form);
          border-radius: 10px;

          resize: none;
        }
      }
    }

    div.info-service {
      width: 100%;

      div.select {
        width: 100%;

        padding: 20px;

        label {
          display: block;
          color: var(--color-text-form);
        }

        select {
          width: 100%;
          height: 45px;

          margin-top: 8px;

          background: var(--background-input);
          border-radius: 10px;
          border: 1px solid var(--color-text-form);

          font-size: 17px;
          color: var(--color-red);

          cursor: pointer;
        }
      }

      div.prices {
        width: 100%;
        padding: 20px;

        label {
          display: block;
          color: var(--color-text-form);
        }

        input {
          width: 100%;
          height: 45px;

          margin-top: 10px;
          padding-left: 10px;

          background: var(--background-input);
          border-radius: 10px;
          border: 1px solid var(--color-text-form);

          font-size: 17px;
          color: var(--color-red);
        }
      }
    }

    div.weekdays {
      width: 100%;
      margin-top: 20px;
      padding: 20px;

      p {
        color: var(--color-text-form);
        padding: 10px 0;
      }

      div.container-weekdays {
        width: 100%;

        display: flex;

        div.box-check {
          width: 20%;

          ul {
            list-style: none;

            li {
              width: 130px;
              height: 20px;

              display: flex;
              align-items: center;
              margin-top: 10px;


              input {
                width: initial;
                height: 50px;
                cursor: pointer;
              }

              label {
                padding-left: 8px;
                color: var(--color-text-form);
                cursor: pointer;
              }
            }
          }
        }

        div.box-time {
          width: 80%;

          p {
            color: var(--color-red);
          }

          div.time-container {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 20px;

            padding-right: 50px;

            label {
              display: block;
              color: var(--color-text-form);
            }

            input {
              width: 100px;
              height: 45px;

              margin-top: 8px;
              padding-left: 10px;

              background: var(--background-input);
              border: 1px solid var(--color-text-form);
              border-radius: 5px;

              font-size: 17px;
              font-weight: bold;
              color: var(--color-red);
            }

          }
        }
      }
    }
    
    div.footer {
      width: 100%;
      height: 100px;

      background: var(--background-input);

      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 150px;
        height: 45px;

        background: var(--color-green);
        border-radius: 5px;
        border: 1px solid var(--color-title);

        font-size: 17px;
        color: var(--color-title);

        transition: .2s;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }
    }

  }
}